<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>

  <% let totalPrice = 0 %>
  
    <div class="container py-5 h-100" style="margin-top: 40px; ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
  
              <div class="row">
  
                <div class="col-lg-7">
                  <h5 class="mb-3"><a href="/" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                  <hr>
  
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Shopping cart</p>
                    </div>
                  </div>

                  <% items.forEach(item => { %>
                
                    <form action="/buy/<%=item.userId%>" method="post">
                      <% let price = item.productPrice %>
                      <% parseInt(price) %>
                      <% totalPrice += price %>
                      
                  <div class="card mb-3">

                    <div class="card-body">

                      <div class="d-flex justify-content-between">

                        <div class="d-flex flex-row align-items-center">

                          <div>

                            <img
                              src="<%= item.productImage %>"
                              class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">

                          </div>

                          <div class="ms-3">

                            <h5><%= item.productName %></h5>

                          </div>

                        </div>

                        <div class="d-flex flex-row align-items-center">

                          <div style="width: 50px;">

                            <h5 class="fw-normal mb-0"><%= item.quantity %></h5>

                          </div>

                          <div style="width: 80px;">

                            <h5 class="mb-0"><%= item.productPrice %> SAR</h5>

                          </div>

                          <a href="deletItem/<%= item._id%>" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>

                        </div>

                      </div>

                    </div>

                  </div>
                  <% }) %>
  
                </div>
                <div class="col-lg-5">
  


                  <div class="card text-white rounded-3" style="background-color: #e4be9e;">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="mb-0">Checkout details</h5>
                      </div>
                    
                        <div class="form-outline form-white mb-4">
                          <input  required  class="form-control form-control-lg" siez="17" placeholder="05X XXXX XXX" type="number" name="phone"  id="floatingInput" />
                          <label class="form-label" for="typeName">Phone Number</label>
                        </div>
                        
                        <div class="form-outline form-white mb-4">
                        <input type="text" name="location" class="form-control form-control-lg" id="floatingInput"  placeholder="e.g. Riyadh" required >
                          <label class="form-label" for="typeText">Location</label>
                        </div>

  
                      
  
                      <hr class="my-4">
  
                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Total</p>
                        <p class="mb-2"><%= totalPrice %> SAR</p>
                      </div>
  
                      <input type="hidden" name="totalPrice" value="<%= totalPrice %>">
                      <button type="submit" class="btn btn-block btn-lg" style="background-color:#c4814a;">
                        <div class="d-flex justify-content-between">
                          <span><%= totalPrice %> SAR</span>
                          <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                        </div>
                      </button>
  
                    </div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
</main>

</form>
<%- include('../partials/footer') %>